.footer{
       background-color:salmon;
       height:15%;
       width: 1200px;
       position:relative;
       left: 30px;
       bottom: 430px;
       border-radius: 5px;
       text-align: center;
       
}
.page{
    background-color: sandybrown;
    width:1250px;
    height:750px;
    border-radius: 5px;
    text-align: center;
}
.contenu{
    
        height:400px;
       width:1000px;
       background-color: royalblue;
       position:relative;
       left: 230px;
       border-radius: 5px;
       text-align: center;
       
}
.note{
    
        
     height:300px;
    width:100px;
    background-color:gold;
    position:relative;
   left: 850px;
bottom: 319px;
border-radius: 5px;
}
.header{
        height:60px;
       width: 1200px;
       background-color:peru;
       position:relative;
       left: 30px;
       border-radius: 5px;
       text-align: center;
}
.baniere{
    height:60px;
    width: 1200px;
       background-color:olive;
       position:relative;
       left: 30px;
       border-radius: 5px;
       text-align: center;
       border: darkblue;
       
}
.menu{
        height:400px;
       width: 120px;
       background-color:orchid;
       position:relative;
       left: 30px;
       bottom: 420px;
       border-radius: 5px;
    
    }
.articl{
   
    height:300px;
       width: 800px;
       background-color: wheat;
       position:relative;
       left:20px;
       border-radius: 5px;
       text-align: center;
       
           
           
    }
.title{
    
        height:50px;
       width: 200px;
       background-color: gold;
       position:relative;
       left: 50px;
       border-radius: 5px;
       text-align:left;
       
}
.text{
        height:60%;
       width:90%;
       background-color: gold;
       position:relative;
       left: 50px;
       bottom: 10px;
       border-radius: 5px;
       
       
}
.styl{
      
       text-align: center;
       color:purple;
       border-radius: 5px;
       background-color:pink;
       height:50%;
       width: 50%;
       position: relative;
       left:25%;
       

}
.table tr td{
      
border: 1px solid;
padding: 15px;
    
       
}
.nav{
display: flex;
  align-items: center;
  justify-content: space-between;
 
  
}
@keyframes glow {
       from {
              color:greenyellow;
            text-shadow: 0 0 10px skyblue, 0 0 20px skyblue, 0 0 30px skyblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue, 0 0 70px skyblue, 0 0 90px skyblue;
          }
          
          to {
             color:  #ff009d;
            text-shadow: 0 0 20px skyblue, 0 0 30px skyblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue, 0 0 70px skyblue, 0 0 80px skyblue, 0 1 90px skyblue;
          }
        }

.play{
font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;

}@keyframes slide-left {
       from {
         margin-left: 100%;
         width: 300%; 
       }
     
       to {
         margin-left: 0%;
         width: 100%;
       }
     }
.slidtext{
 width:100%;
 font-weight: bold;
 overflow:hidden;
 animation: slide-left 10s;
 font-size: 9rem;
 font-family: Arial, Helvetica, sans-serif;
 color:purple;
 
}